.signInContainer {
    width: 300px;
    margin: 200px auto !important;
    padding: 30px 20px !important;
    text-align: center !important;
}
.errorLabel {
    color: red;
}
.errorLabel:after {
    content: ' *';
}